
body, ul, li, h1, h2, h3, h4, h5, h6, p ,a{
    padding: 0;
    margin: 0;
    font-family: "sans-serif";
    /*background-color: #FEFFFF;*/
    color: #5C6468;
}
html, body {
    /*height: 100%;*/
}
ul,li {
    list-style: none;
}
a {
    /*color: #5C6468;*/
    text-decoration: none;
}
.green{
    color: #4BCA64;
    display: inline;
}
.orange{
    color: #DFBA46;
    display: inline-block;
}
.detail-head h1{
    display: inline;
}
/*header .top {
    background: url('http://onfg1fey2.bkt.clouddn.com/pic1.jpg')  no-repeat  center;
    background-size: cover;
    height: 85vh;
    display:flex;
    justify-content: center;
    box-shadow: 0 4px 10px #ccc;
}*/
header .top-ct{
    position: relative;
    top: 12vh;
}
header .top-ct h1{
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 300;
    background-color: #000;
    padding-left: 10px;
}
header .top-ct h2{
    letter-spacing: 5px;
    color: #000;
}
header .top-ct>ul li{
    padding-top: 16px;
    text-align: center;
}

.center{

    width:80vw;
    margin: 140px auto;
    text-align: center;
    /*border: 1px solid red;*/
    position: relative;
}

.introduce{
    position: relative;
    margin-top:30px;
    display: flex;
    /*justify-content: center;*/
}
.detail-head{
    text-align: left;
    border-bottom: 1px solid #4BCA64;
    /*left: -300px;*/
}
.pic3{
    /*float: left;*/
    transition: all 2s;
    text-align: left;
    position: relative;
    left: -350px;

}
.myself{
    width:70vw;
    text-align: left;
    margin-bottom: 30px;
}
.myself h5{
    /*width: 700px;*/
    line-height:28px;
    font-size: 16px;
    font-weight: 500;
    /*margin-top: 42px;*/
}
.myself span{
    color: #3983F0;
    font-weight: 700;
    padding: 0 4px;
}
.pic3 img{
    width:300px;
    height: auto;
}
.btn{
    /*position: absolute;*/
    /*top: 112px;*/
    /*right: 10px;*/
    margin-top:100px;
    color: #FDE5DF;

}
.btn1{
    width:264px;
    height:52px;
    border-radius: 26px;
    /*margin: 12px 0;*/
    border: none;
    margin-left:80px;
    box-shadow: -18px 20px 20px #ccc;
}
.btn2{
    width:264px;
    height:52px;
    border-radius: 26px;
    /*margin: 12px 0;*/
    border: none;
    margin-left:80px;
    box-shadow: -18px 20px 20px #ccc;
}
.btn h3{
    color: #FDE5DF;
    font-size: initial;
}
.bg-green{
    background-color: #4BCA64;
}
.bg-orange{
    background-color: #FA4E39;
}
.worklist {
    margin: 50px;
    overflow: hidden;
    /*box-shadow: 16px 20px 20px #ccc;*/
}

.works h1 {
    color: #000;
    padding-left: 50px;
}

.worklist a {
    display: block;
    float: left;
    width: 50%;
    height: 280px;
    outline: 1px solid #fff;
    overflow: hidden;
    position: relative;
    transition: opacity .35s, transform .35s;
}

.worklist img {
    transition: opacity .35s, transform .35s;
}

.worklist h2 {
    transition: all .35s;
    font-family: monospace;
}

.worklist p {
    transition: all .35s;
    font-size: 18px;
}
.worklist p span{
    display: block;
}
.worklist a::after {
    transition: opacity .35s, transform .35s;
    opacity: 0.3;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.worklist a:hover::after {
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

.worklist a:hover img {
    opacity: 0.35;
    transform: scale3d(1.05, 1.05, 1);
}

.worklist img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.worklist a:hover h2 {
    transform: translateY(-50%);
}

.worklist a:hover p {
    transition-delay: 0.2s;
    transform: translateY(25px);
    opacity: 1;
}
.bg1 {
    background: #52524F;
}

.bg2 {
    background: #52524F;
}

.bg3 {
    background: #52524F;
}

.bg4 {
    background: #52524F;
}
.worklist h2 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    color: #FA4E39;
    text-shadow: 1px 2px 2px black;
}

.worklist p {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    top: 50%;
    opacity: 0;
    color: #FEFFFF;
}
.item{
    position: relative;
}
.work{
    position: absolute;
    top: 20px;
    right: 110px;
    text-align: left;
    width: 380px;
}
.skill img{
    margin-top:20px;
    text-align: left;
    width:70vw;
    height:auto;

}
.top-ct h6>i{
    font-size: 12px;
    padding-left: 6px;
    color: #FA4E39;
}
.bg-green i{
    font-size: 18px;
    padding-left: 8px;
    color: #FDE5DF;
}
.iconfont {
    transition: All 1s ;
    font-size: 26px;
}
.contact-ct li:hover .iconfont {
    transform: rotate(360deg) scale(1.5);
}
.contact-ct{
    display: flex;
}
.contact-ct li{
    width: 20vw;
    /* border: 1px solid #ccc; */
    margin: 0 8px;
    padding: 8px 0;
    text-align: center;
    background-color: #fff;
    box-shadow:2px 2px 32px #ccc;
    font-size:14px ;
    line-height: 28px;
    position: relative;
}
li i{
    padding-right: 28px;
    font-size:24px ;
    display: inline-block;
    position: absolute;
    left:22px
}
.top-name{
    z-index: 99999;
    position: fixed;
    /*transition: all 2s;*/
    top: 38vh;
    left: 86vw;
}
.top-name .goto{
    transition:all .5s;
    position: relative;
    left: -80vw;
}
.contact-ct .icon-github{
    color: #D8CAB8;
}

.contact-ct .icon-jianshu{
    color: #FCD14E;
}
.contact-ct .icon-weichat{
    color: #D69E95;
}
.contact-ct .icon-phone{
    color: #4BCA64;
}
.contact-ct .icon-youxiang{
    color: #73D8F7;
}

@media screen and (max-width: 900px){
    .pic3 img{
        display: none;
    }
}

video{  
    position: relative;  
    right: 0px;  
    bottom: 0px;  
    min-width: 100%;  
    min-height: 100%;  
    height: auto;  
    width: auto;  
    /*加滤镜*/  
    /*-webkit-filter: grayscale(100%);*/  
    filter:grayscale(10%);  
}  
source{  
    min-width: 100%;  
    min-height: 100%;  
    height: auto;  
    width: auto;  
}  